{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel='stylesheet' type='text/css' href="{% static 'css/list.css' %}">
{% endblock extrahead %}
{% block content %}

<h1>All Projects</h1>

{% for project in project_list %}
<a href="{% url 'project_detail' project.id %}">
    <div class="card  card-animation">
        <div class="card-content">
            <span class="card-title">{{ project.name }}</span>
            <div class="card-right">{{ project.user }} </div>

        </div>
    </div>
</a>
{% endfor %}

{% endblock %}