{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SEI Stay Connected</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <div class="left-brand-logo-container">
          <a href="/" class="left-brand-logo">&nbsp;&nbsp;StayConnected</a>
        </div>
        <div class="nav-link"><a href="/about">About</a></div>
        <div class="nav-link nav-dynamic-link">
          <div><a href="{% url 'job_create' %}">Add a Job Post</a></div>
          <div><a href="{% url 'job_index' %}">View All Job Posts</a></div>
        </div>
        <div class="nav-link nav-dynamic-link"></div>
        <div><a href="{% url 'project_create' %}">Add a Project</a></div>
        <div><a href="{% url 'project_index' %}">View All Projects</a></div>
      </div>
      <div class="nav-link profile-link"><a href="{% url 'index' %}">View My Profile</a></div>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">Join us and stay connected &copy; 2022 Team[0] &nbsp;</div>
  </footer>
</body>

</html>

<!-- making a new pull request -->