:root {
    --background: rgb(96, 130, 158);
    --navBackground: #B1A296;
    --navText: #464549;
    --legendBackground: rgb(130, 120, 130);
    --formText: #557a95;
    --font: 'Quicksand', sans-serif;
  }

