:root {
  --background: rgb(96, 130, 158);
  --navBackground: #B1A296;
  --navText: #464549;
  --font: 'Quicksand', sans-serif;
}

a, a:hover, a:visited, a:active {
  color: var(--navText);
  text-decoration: none;
 }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--background);
  margin-top: 80px;
}

/* The position rules keep the navbar fixed on the page*/
header {
  height: 80px;
  display: flex;
  align-items: center;
  gap: clamp(40px, calc(7vw), 80px);
  position: fixed;
  top: 0;
  width: 100%;
}

.underline-animation {
  display: inline-block;
  position: relative;
  color: var(--navText);
  font-family: var(--font);
}

.underline-animation:hover {
  cursor: pointer;
}

.underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--navText);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* These two rules give the navbar a dynamic coloring on scroll*/
.header-colored {
  background-color: var(--navBackground)
}
.header-transparent {
  background-color: var(--background);
}

.brand-icon, .icon-wrapper {
  max-width: 50px;
  max-height: 50px;
}

.icon-wrapper {
  margin-right: auto;
  margin-left: 10px;
}

.brand-link:hover img {
  content: url(/static/images/SEISC-Logo-Hover.png);
}

.job-link, .project-link, .photo-link {
  display: none;
}

.links-holder, .holder-clicked{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.links-holder div {
  font-size: clamp(20px, calc(3vw), 40px);
}

.links-holder a, .profile-management a {
  font-size: clamp(10px, calc(2vw), 20px);
}


.profile-management {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: normal;
  margin: 10px 10px 10px auto;
  align-items: flex-end;
}

div.profile-management > a {
  padding: 5px;
}


main {
  flex: 1 0 auto;
}
  
.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: var(--background);
  color: black;
}

html {
  font-family: var(--font);
}