{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel='stylesheet' type='text/css' href="{% static 'css/forms.css' %}">
{% endblock extrahead %}
{% block content %}


<form action="" method="post">
  <fieldset id='form-fieldset'>
    <legend>
      {% if object %}
      Edit {{object.user.username}}
      {% else %}
      Add Project
      {% endif %}
    </legend>
    {% csrf_token %}
    <table>

      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </fieldset>

</form>

<script>

  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });

</script>

{% endblock %}