{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.user.username}}</span></h1>
  {% else %}
    <h1>Add Project</h1>
  {% endif %}
  
  <form action="" method="post">
    
    {% csrf_token %}
    <table>
      
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>

  <script>
	
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });

</script>

{% endblock %}